body {
    background-color: black;
}

table {
    color: orange;

}

#calculator {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: center;
}