*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: rgb(179, 179, 179);
}

/* nav bar */

#nav{
      position: fixed;
   top: 0;
   width: 100%;
   background-color: rgb(179, 179, 179);
}

nav{
    margin: 10px;
   
    /* position: absolute; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */

    box-shadow: 3px;
    
}

nav img {
    width: 40px;
    height: 40px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 10px 25px;
    position: left;
    
    
}

nav ul li a{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;  
    font: bold;
    font-size: large;
    color: rgb(39, 38, 38);
    
}



nav input{
    display: block;
    border-radius: 1.25rem;
    width: 20%;
    background: url(icon/search.png) no-repeat left;
    background-size: 8%;
    background-position-x: 8px;
    padding-left: 40px;
    font-size: medium;
    box-shadow: 3px grey; 
    /* border: none; */
    border-color: initial;
    
}




/* navbar over */

/* know more bar */

#sign-up-call{
    margin-top: 80px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #4e5458;
    
}
div h3{
    padding-top: 5px;
    color: whitesmoke;
}
#knowmore{
    border-radius: 1.25rem;
    padding: 10px;
    background-color: #4e5458;
    border: 1px solid white;
    color: white;
    font-size: medium;
}

/* know more bar over */

/* hand craft curation */