<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <h1>HomePage <%= 'hwllow' %>
    </h1> <!-- use to display logical things on html page -->


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorum impedit deserunt voluptate alias quia harum
        porro beatae, quam blanditiis illum cum magni culpa iste sit recusandae omnis veniam exercitationem.</p>

    <body>

    </body>

</html>